@{
    ViewData["Title"] = "Quên mật khẩu";
}

<head>
    <link href="~/css/signin.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-img">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="card shadow-sm" style="width: 400px; margin: 100px 0 100px 0">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Tìm tài khoản của bạn</h5>
                    <p class="card-text">Vui lòng nhập email để tìm kiếm tài khoản của bạn.</p>
                    <form asp-action="ForgotPassword" method="post">
                        <div class="mb-3">
                            <input type="text" name="email" class="form-control" placeholder="nhập email của bạn">
                        </div>

                        <div class="d-flex justify-content-end">
                            <a asp-action="Login" type="button" class="btn btn-secondary me-2">Hủy</a>
                            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>