@model ProjectPrn222.Models.DTO.UserViewModel
@{
    ViewData["Title"] = "Login";
}
<head>
    <link href="~/css/signin.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-img">
        <div class="form-signin">
            <form asp-action="Login" method="post">
                @Html.AntiForgeryToken()

                <h1 class="h3 mb-3 fw-normal d-flex justify-content-center">Đăng nhập</h1>

                <div class="form-floating mb-2">
                    <input asp-for="UserName" class="form-control" placeholder="Tên đăng nhập"/>
                    <label asp-for="UserName">Tên đăng nhập</label>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="form-floating mb-2">
                    <input asp-for="Password" type="password" class="form-control" placeholder="Mật khẩu"/>
                    <label asp-for="Password">Mật khẩu</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit">Đăng nhập</button>

                <div class="d-flex justify-content-end mt-2">
                    <a asp-controller="Auth" asp-action="ForgotPassword" class="text-decoration-none">Quên mật khẩu?</a>
                </div>

                <div class="text-center mt-3">
                    <a asp-controller="Auth" asp-action="Register" class="text-decoration-none">Tạo tài khoản →</a>
                </div>
            </form>
        </div>
    </div>

    <partial name="_ValidationScriptsPartial" />
</body>

