@{
	ViewData["Title"] = "Thanh toán";
}

@{
	var discountAmount = Context.Session.GetInt32("DiscountAmount") ?? 0;
	var totalAmount = Context.Session.GetInt32("TotalAmount") ?? 0;
}

<body>
	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>

	<div class="checkout-section mt-3">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="card-body">
						<div class="billing-address-form">
							<form action="index.html">
								<p><input type="text" placeholder="Tên khách hàng"></p>
								<p><input type="email" placeholder="Email"></p>
								<p><input type="text" placeholder="Địa chỉ giao hàng"></p>
								<p><input type="tel" placeholder="Số điện thoại"></p>
								<p><textarea name="bill" id="bill" cols="30" rows="10" placeholder="Để lại lời nhắn"></textarea></p>
							</form>
						</div>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="order-details-wrap">
						<table class="order-details">
							<thead>
								<tr>
									<th>Thông tin</th>
									<th>Giá</th>
								</tr>
							</thead>
							<tbody class="checkout-details">
								<tr>
									<td>Tạm tính</td>
									<td>@($"{totalAmount:N0} VNĐ")</td>
								</tr>
								<tr>
									<td>Phí vận chuyển</td>
									<td>@($"{ViewBag.ship:N0} VNĐ")</td>
								</tr>
								<tr>
									<td>Tổng cộng</td>
									<td>@($"{(totalAmount + ViewBag.ship):N0} VNĐ")</td>
								</tr>
							</tbody>
						</table>
						<a asp-action="PaymentWithVnPay" class="boxed-btn">Đặt hàng</a>
						<a asp-action="Cart" class="boxed-btn ms-2">Quay lại giỏ hàng</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end check out section -->
</body>